{% extends 'onboarding/base.html' %}
{% block body %}
{% load static %}
<div id="sigin_div" >
    <div class="overlay_green"></div>
    <!-- <img src="{% static 'img/overlay_green.svg' %}" alt="company-logo"  width = "100%" class="overlay_geen"/> -->
    <img src="{% static 'img/register_bg.svg' %}" alt="company-logo" class="change_p" width = "100%"/>
    <div class="overlay_register">
        <p class="onboarding_header_h1 mb-3 mt-3">Change Password</p>
        <!-- <p class="onboarding_header_h4 mb-1" >Sign in</p> -->
        <p class="onboarding_header_h4 mb-1" >Enter your new password</p>
    </div>
    <div class="onboarding_register_div">
        <div class="alert text-danger text-center" id="change_message_password" role="alert">{{message}}</div>

        <form class="onboarding_form mt-5" action="{% url 'change_password_api' %}" id="sign_ini_form" method="POST">
            {% csrf_token %}
            <!-- <div class="onboarding_form_div mb-3" >
                <label class="form_label">Email</label>
                <input type="text" name="email"  class="onboarding_form_input">
            </div> -->
            <div class="onboarding_form_div mb-3" style="display:none;">
                <!-- <label class="form_label">Email</label> -->
                <input type="text" value="{{uid}}" name="uid" class="onboarding_form_input">
            </div>
            <div class="onboarding_form_div mb-3">
                <label class="form_label">New Password</label>
                <input type="password" name="c_new_password" class="onboarding_form_input">
            </div>
            <div class="onboarding_form_div mb-3">
                <label class="form_label">Confirm New Password</label>
                <input type="password" name="c_confirm_new_password" class="onboarding_form_input">
                
            </div>
            <p id="password_change" class="text-danger"></p>
            <input type="submit" value="Change Password" class="onboarding_form_next mt-3" >
           
        </form>
      
        
    </div>
</div>



{% endblock %}