{% extends 'onboarding/base.html' %}
{% block body %}
{% load static %}
<div id="sigin_div" >
    <div class="overlay_green"></div>
    <!-- <img src="{% static 'img/overlay_green.svg' %}" alt="company-logo"  width = "100%" class="overlay_geen"/> -->
    <img src="{% static 'img/register_bg.svg' %}" alt="company-logo"  width = "100%"/>
    <div class="overlay_register">
        <p class="onboarding_header_h1 mb-3 mt-3">Forgot Password</p>
        <!-- <p class="onboarding_header_h4 mb-1" >Sign in</p> -->
        <p class="onboarding_header_h4 mb-1" >Kindly enter your registered email</p>
    </div>
    <div class="onboarding_register_div">
        
        {% if error == True %}
            <div class="alert alert-danger" id="server_message" role="alert">{{message}}</div>
        {% endif %}
        {% if error == False %}
            <div class="alert alert-success" id="server_message" role="alert">{{message}}</div>
        {% endif %}

        <form class="onboarding_form mt-5" action="{% url 'send_password_link' %}" id="sign_in_form" method="POST">
            {% csrf_token %}
            <div class="onboarding_form_div mb-3">
                <label class="form_label">Email</label>
                <input type="email" name="email" placeholder="johndoe@email.com"  class="onboarding_form_input">
            </div>
            <input type="submit" value="Send Password link" class="onboarding_form_next mt-3" id="activate_submit">
           
        </form>
        <p class="onboarding_footer mt-5 mb-5 text-center">Already have an account? <span class="onboarding_span"><a href="{% url 'signin' %}">Sign in</span></a></p>
        <p class="onboarding_footer mt-2 mb-1 text-center" style="font-size:0.8rem;">Don't have an account? <span class="onboarding_span"><a href="{% url 'signup_two' %}">Create account</span></a></p>
        
    </div>
</div>



{% endblock %}