{% extends 'onboarding/base.html' %}
{% block body %}
{% load static %}
<div id="dashboard_div">
    <img src="{% static 'img/others_bg.svg' %}" alt="others-bg-logo"  width = "100%"/>
    {% if error == True %}
    <div style="text-align: center;">
        <img src="{% static 'img/404_error.svg' %}" width="60%" alt="error-logo"  class="mb-2 mt-1"/>
    </div>
    <p class="onboarding_header mb-1" style="text-align: center;">Oops! something went wrong</p>
    {% else %}
    <div id="over-lay"> 
        <div class="row">
            <div class="col-7">
                <div class="flex-column">
                    <p class="p-white-big-top">Scanner</p> 
                </div>
            </div>
            <div class="col-5" id="right-side">
                <img src="{% static 'img/notification.svg' %}" alt="ok-logo" /><span class="badge badge-dark">20</span>
            </div>
        </div>
    </div>
    <div class="profile-bottom">
        <input value="{{user_details.user_id}}" id="user_id" class="onboarding_form_input mb-3" style="color: #000;" hidden/>
        <!-- barcode input tag -->
        <form class="onboarding_form" action="#"  method="POST">
            {% csrf_token %}
            <input type="text" name="barcode" id="barcode" class="onboarding_form_input mb-3" style="color: #000;" hidden>
            <input name="hub_name" id="hub_name" hidden />
            <input name="hub_address" id="hub_address" hidden />
            <input name="hub_state" id="hub_state" hidden />
            <input name="hub_council" id="hub_council" hidden />
            <input name="hub_country" id="hub_country" hidden />
        </form>

        <!-- TEST SCANNER -->
        <div class="controls" style="display: none;">
            <fieldset class="input-group">
                <button class="stop">Stop</button>
            </fieldset>
            <fieldset class="reader-config-group">
                <label>
                    <span>Barcode-Type</span>
                    <select name="decoder_readers">
                        <option value="code_128" >Code 128</option>
                        <option value="code_39">Code 39</option>
                        <option value="code_39_vin">Code 39 VIN</option>
                        <option value="ean" selected="selected">EAN</option>
                        <option value="ean_extended">EAN-extended</option>
                        <option value="ean_8">EAN-8</option>
                        <option value="upc">UPC</option>
                        <option value="upc_e">UPC-E</option>
                        <option value="codabar">Codabar</option>
                        <option value="i2of5">Interleaved 2 of 5</option>
                        <option value="2of5">Standard 2 of 5</option>
                        <option value="code_93">Code 93</option>
                    </select>
                </label>
                <label>
                    <span>Resolution (width)</span>
                    <select name="input-stream_constraints">
                        <option value="320x240" selected="selected">320px</option>
                        <option  value="640x480">640px</option>
                        <option value="800x600">800px</option>
                        <option value="1280x720">1280px</option>
                        <option value="1600x960">1600px</option>
                        <option value="1920x1080">1920px</option>
                    </select>
                </label>
                <label>
                    <span>Patch-Size</span>
                    <select name="locator_patch-size">
                        <option value="x-small" selected="selected">x-small</option>
                        <option value="small">small</option>
                        <option  value="medium">medium</option>
                        <option value="large">large</option>
                        <option value="x-large">x-large</option>
                    </select>
                </label>
                <label>
                    <span>Half-Sample</span>
                    <input type="checkbox" checked="checked" name="locator_half-sample" />
                </label>
                <label>
                    <span>Workers</span>
                    <select name="numOfWorkers">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option selected="selected" value="4">4</option>
                        <option value="8">8</option>
                    </select>
                </label>
                <label>
                    <span>Camera</span>
                    <select name="input-stream_constraints" id="deviceSelection">
                    </select>
                </label>
                <label style="display: none">
                    <span>Zoom</span>
                    <select name="settings_zoom"></select>
                </label>
                <label style="display: none">
                    <span>Torch</span>
                    <input type="checkbox" name="settings_torch" />
                </label>
            </fieldset>
        </div>
      <div id="result_strip" style="display: none;">
        <ul class="thumbnails"></ul>
        <ul class="collector"></ul>
      </div>
      <div id="interactive" class="viewport"></div>
        <!-- END HERE -->
        
    </div>
    {% endif %}
</div>


<!-- MENU BAR BEGINS-->
<nav class="navbar fixed-bottom navbar-light" style="background: #fff;">
    <a class="navbar-brand nav-style" href="{% url 'scanner' %}">
        <img src="{% static 'img/barcode.svg' %}" class="align-top img-fluid" alt=" scanner_icon">
        <p class="nav-p">Scanner</p>
    </a>
    <a class="navbar-brand nav-style" href="{% url 'profile' %}"> 
        <img src="{% static 'img/profile.svg' %}" class="align-top img-fluid" alt=" profile_icon">
        <p class="nav-p">Profile</p>
    </a>
    <a class="navbar-brand nav-style" href="{% url 'home' %}" >
        <img src="{% static 'img/home.svg' %}" class="align-top img-fluid" alt=" home_icon">
        <p class="nav-p">Home</p>
    </a>
    <a class="navbar-brand nav-style" href="{% url 'wallet' %}">
        <img src="{% static 'img/wallet.svg' %}" class="align-top img-fluid" alt=" wallet_icon">
        <p class="nav-p">Wallet</p>
    </a>
    <a class="navbar-brand nav-style" href="{% url 'signout' %}">
        <img src="{% static 'img/more.svg' %}" class="align-top img-fluid" alt=" more_icon">
        <p class="nav-p">More</p>
    </a>
  </nav>

{% endblock %}